dataset/*
captured/*
Documentation/*
FOR IMAM
logs/*
recorded/*
Main.py.bak
~recognizer.py.bak
Smart CCTV Final Paper.docx
trainer.yml
ENCODINGS.txt
DATABASE.txt
!dataset/.gitkeep
!captured/.gitkeep
!Documentation/.gitkeep
!logs/.gitkeep
!recorded/.gitkeep