dataset/*
captured/*
Documentation/*
FOR IMAM
logs/*
recorded/*
MainProgram.py.bak
~recognizer.py.bak
Smart CCTV Final Paper.docx
trainer.yml
!dataset/.gitkeep
!captured/.gitkeep
!Documentation/.gitkeep
!logs/.gitkeep
!recorded/.gitkeep